/* Charte graphique : 
#137C8B
#709CA7
#B8CBD0
#7A90A4
#344D59 */
body{
    box-sizing: border-box;
    --resmin: 0.09vmin;
    --resmax: 0.09vmax;
    font-family: 'Noto Sans', sans-serif;
    color: #344D59;
}
ul{
    list-style: none;
    padding: 0;
}
a{
    text-decoration: none;
    color: inherit;
}

/* Header */
h1{
    font-size: calc(42 * var(--resmin));
    color: #344D59;
}
#navbar{
    background-color: #709CA7;
}
.nav-item:hover{
    border-top: 4px solid #B8CBD0;
    border-bottom: 4px solid #B8CBD0;
    padding: 6px 0; }
#logo{
    width: calc(84 * var(--resmin));
}
.btn, .navbar-text a{
    background-color: #344D59 ;
    font-weight: 600;
    color: #B8CBD0;
    border-color: #344D59;
}

.btn:hover
{
    background-color:#B8CBD0;
    border-color:#B8CBD0;
    color:#344D59;
}
li, a{
    font-size: calc(18 * var(--resmin));
    color: #344D59;
}


/* Main */
.main{
    background-color: #B8CBD0;
    min-height: 75vh;
}


/* Home */
/* --- Carousel --- */
#carouselHome{
    max-width: fit-content;
    max-height: 50vh;
}

#carouselHome img{
    width: 100vw;
    max-height: 50vh;
    height: auto;
    object-fit: cover;
}


/* Profil */

.wrapper-profil{
    min-height: 75vh;
}
.col-profil
{
    background-color: #344D59;
    color: #B8CBD0;
    margin: 1rem;
    padding: 1.5rem;
    text-align: center;
}

.profil-name
{
    border-bottom: solid 0.2px #B8CBD0;
}

.profil-data
{
    text-align: left;
    margin-left: 3rem;
}

.profil-icon
{
    margin-right: 0.5rem;
}


/* Organizational chart */

.wrapper-chart{
    min-height: 75vh;
}

.organization-chart{
    background-color: #344D59;
    color: #B8CBD0;
    margin: 1rem;
    padding: 1.5rem;
    text-align: center;
    width: 75vw;
}
.picture{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background-color: #B8CBD0;
    overflow: hidden;
    margin: 1rem auto;
}

.picture img{
    position: relative;
    bottom: -5px;
    width: 90%;
}

/* Tarifs et Horaires */

.course-tarif
{
    background-color: #344D59;
    color: #B8CBD0;
}

.course-tarif h3
{
    margin-bottom: 0.1rem;
}

.age-tarif
{
    margin-bottom: 2rem;
}

.amount
{
    font-size: 1.5rem;
    font-weight: 500;
}

.list-amount
{
    border : solid 0.5px #B8CBD0;
    margin-bottom: 1rem;
}

.list-amount p
{
    margin-bottom: 0.2rem;
}


.footer-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
.time{
    margin-bottom: 30px; /* Espace en bas de chaque élément <li> */
    font-size: 30px;     /* Taille de la police pour les éléments <li> */
}
.case-twig {
    background-color: #344D59;
    color: #B8CBD0;
    padding: 10px;
    margin: 5px 0; 
    border-radius: 5px;
    border-color: #B8CBD0;
}

.table-slot  h3{
    font-size: 1.5em;
}
.table-slot th{
    background-color: #709CA7;
    color: #344D59;
}

.table-slot td{
    background-color: #344D59;
    color: #B8CBD0;
}

.table-slot{
    border-color: #B8CBD0;
}

/* --- User --- */

.fa-sort
{
    color:#344D59
}
.fa-sort:hover{
    color: #709CA7;
    cursor: pointer;
}
.page-link
{
    color:#344D59
}
.page-link:hover
{
    color: #709CA7;
}
.page-link:focus
{
    color: #709CA7;
}
.page-item
{
    margin: 0
}




/* Footer */
.footer{
    background-color: #137C8B;
    color: #B8CBD0;
    min-height: 15vh;
}
.footer-container{
    display: flex;
    text-align: center;
    padding: 2%;
}
.footer-col{
    width: calc(100vw / 3);
}
footer h4{
    font-size: calc(24 * var(--resmin));
}
.social-links a{/*target child into div*/
    display: inline-block;
    height: calc(42 * var(--resmin));
    width: calc(42 * var(--resmin));
    background-color: #B8CBD0;
    margin-right: 10px;
    text-align: center;
    line-height: calc(42 * var(--resmin));
    border-radius: 50%;
}
.social-links a:hover{
    color: #B8CBD0;
    background-color: #344D59;
}
.fab:hover{
    color: #B8CBD0;
}
.footer-link:hover{
    color: #B8CBD0;
    padding-left: 10px;
}

/* Login */
.wrapper-login{
    min-height: 75vh;
}


/* 404 page */
.page_404{ 
    padding:40px 0; background:#fff; font-family: 'Arvo', serif;
}
.page_404  img{ 
    width:100%;
}
.four_zero_four_bg{
    background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
    height: 400px;
    background-position: center;
}
 .four_zero_four_bg h1{
    font-size:80px;
}
  .four_zero_four_bg h3{
    font-size:80px;
}
			 
.link_404{			 
    color: #fff;
    padding: 10px 20px;
    background: #39ac31;
    margin: 20px 0;
    display: inline-block;
}
.contant_box_404{ 
    margin-top:-50px;
}
.page_404{
    height: 100vh;
    width: 100vw;
}


/* 403 page */
.page-403 {
    margin:0;
    padding: 0;
}
.body-403{
    background: #233142;
}
.whistle{
    width: 20%;
    fill: #f95959;
    margin: 100px 40%;
    text-align: left;
    transform: translate(-50%, -50%);
    transform: rotate(0);
    transform-origin: 80% 30%;
    animation: wiggle .2s infinite;
}

@keyframes wiggle {
    0%{
    transform: rotate(3deg);
    }
    50%{
    transform: rotate(0deg);
    }
    100%{
    transform: rotate(3deg);
    }
}
.page-403 h2{
    margin-top: -100px;
    margin-bottom: 20px;
    color: #facf5a;
    text-align: center;
    font-family: 'Raleway';
    font-size: 90px;
    font-weight: 800;
}
.page-403 p{
    color: #455d7a;
    text-align: center;
    font-family: 'Raleway';
    font-size: 30px;
    text-transform: uppercase;
}


/* BackOffice */
.row{
    margin-right: 0;
}
.wrapper-backoffice{
    min-height: 75vh;
    padding-left: calc(100vw/6);
    padding-right: calc(100vw/6);
}
.wrapper-backoffice .table{
    margin-top: 3em;
    margin-bottom: 3em;
}
.homepage-backoffice li:hover{
    border-top: 4px solid #344D59;
    border-bottom: 4px solid #344D59;
    padding: 6px 0;
}
.table{
    /* display: block; */
}

/* Responsive */

@media screen and (min-width:992px) {
    #navbar{
        height: 10vh;
    }
    .navbar-ul{
        margin-left: 12%;
    }
    .btn, .navbar-text a{
        font-size: calc(18 * var(--resmin));
    }
}

@media screen and (max-width:992px) {
    
    h1{
        font-size: calc(42 * var(--resmax));
    }
    #logo{
        width: calc(84 * var(--resmax));
    }
    .btn{
        font-size: calc(18 * var(--resmax));
    }
    li, a{
        font-size: calc(18 * var(--resmax));
    }
    li{
        margin-left: auto;
        margin-right: auto;
    }
    #btn_deconnexion, #btn_connexion{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .footer-container{
        flex-wrap: wrap;
    }
    .footer-col{
        width: 100%;
    }
    .footer-col:not(:last-child){
        padding-bottom: 4%;
    }
    footer h4{
        font-size: calc(24 * var(--resmax));
    }
    .social-links a{ 
        height: calc(42 * var(--resmax));
        width: calc(42 * var(--resmax));
        line-height: calc(42 * var(--resmax));
    }
}

