{% extends 'back/base.html.twig' %}


{% block body %}
    <h2>Editer ce cours</h2>

    {{ include('back/course/_form.html.twig', {'button_label': 'Sauvegarder'}) }}
    {{ include('back/course/_delete_form.html.twig') }}
    <a href="{{ path('app_back_course_index') }}">Retour</a>
   
{% endblock %}
