{% extends 'back/base.html.twig' %}


{% block body %}
    <h2>Create new Course</h2>

    {{ include('back/course/_form.html.twig') }}

    <a href="{{ path('app_back_course_index') }}">back to list</a>
{% endblock %}
