{% extends 'back/base.html.twig' %}

{% block body %}
    <h2>Liste des Licenciés</h2>

    <div class="input-group my-3">
        <input type="text" class="form-control" placeholder="Rechercher un licencié" aria-label="Rechercher un liencié" aria-describedby="button-addon2">
        <button class="btn btn-outline-secondary" type="button" id="button-addon2">Rechercher</button>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Numéro de licence
                    <i class="fa-solid fa-sort"></i>
                </th>
                <th scope="col">Prénom 
                    <i class="fa-solid fa-sort"></i>
                </th>
                <th scope="col">Nom
                    <i class="fa-solid fa-sort"></i>
                </th>
                <th scope="col">Fonction</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody id="user-tbody">
            <template id="user-template">
                <tr>
                    <th scope="row" class="user-id"></th>
                    <td class="text-uppercase user-licenceNumber"></td>
                    <td class="user-firstname"></td>
                    <td class="user-lastname"></td>
                    <td class="user-position"></td>
                    <td>
                        <a href="" class="btn btn-show">Voir</a>
                        <a href="" class="btn btn-edit">Editer</a>
                    </td>
                </tr>
            </template>
        </tbody>
    </table>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
            </li>
        </ul>
    </nav>

    <a class="btn" href="{{ path('app_back_user_new') }}">Nouveau</a>
    
{% endblock %}

{% block js %}
    <script type ="module" src="{{asset('js/app.js')}}"></script>
{% endblock %}