{% extends 'back/base.html.twig' %}

{% block body %}
    <h2>Nouveau Licencié</h2>
    {% include "fragments/_flash_message.html.twig" %}  

    {{ include('back/user/_form.html.twig') }}

    <a href="{{ path('app_back_user_index') }}">retour</a>
{% endblock %}
