{% extends 'back/base.html.twig' %}

{% block body %}
    <h2>Nouveau Tarif</h2>

    {{ include('back/tarif/_form.html.twig') }}

    <a href="{{ path('app_back_tarif_index') }}">retour</a>
{% endblock %}
