{% extends 'base.html.twig' %}
{% block body %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Horaire </title>
    
    <!-- Lien vers le fichier CSS de Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    
</head>
<body>

   
        <!-- Section Horaires -->
        <section class="p-5 section-personnalisee rounded shadow"> 
            <h2 class="text-primary mb-4">nouveau  horaire du cours </h2>
            <table class="table table-striped table-bordered">
                <ul>
                        <li class="time">Jour {{ course.day }}</li>
                        <li class="time">Nom du cours {{ course.name }}</li>
                        <li class="time">Heures {{ course.hour|date('H:i') }}</li>
                    </ul>
                
                <tbody>
                    
                            <td><div class="float-right">
                            
                            <button class="btn btn-warning btn-sm mr-2">confirmer</button>
                            
                            </td>
                        </div>
                        </tr>
                    
                </tbody>
            </table>
        </section>
         <!-- Boutons en bas -->
        <div class="footer-buttons">
            <a href="{{ path('route_retour') }}" class="btn btn-secondary">Retour</a>
            
            
            
        </div>
    </div>

    <!-- Scripts Bootstrap (pour ajouter les fonctionnalités JS de Bootstrap si besoin) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
</body>
{% endblock %}
</html>
