{% extends 'base.html.twig' %}

{% block body %}
<h1 class="text-center">Accès aux locaux</h1>
<div class="container mt-5">
    <div class="row justify-content-center"> 
        <div class="col-md-6"> 
            <iframe src="https://www.google.com/maps/d/embed?mid=1AcESxfitiKzTGu6MKT4g8P9vc2zxdcg&ehbc=2E312F&noprof=1" width="640" height="480"></iframe>
        </div>
    </div>
</div>
{% endblock %}