{% extends 'base.html.twig' %}

{% block body %}
<div class="bg-home">
        
        <section class="presentation text-center">
      
            <div class="container presentation-text py-5">
                <h2>Notre Club</h2>
                <p>
                    Créée en 1979, l'Union Sportive Bouscataise Tir à l'arc compte aujourd'hui 130 archers qui participent régulièrement aux championnats départementaux, régionaux et nationaux.
                </p>
                <p>
                    Les installations sportives mises à notre disposition par la mairie du Bouscat nous permettent d'accueillir, dans le meilleur environnement, toutes catégories de tireurs, du débutant au tireur confirmé recherchant la performance, en passant par le sport détente.
                </p>
                <p>
                    L'encadrement est dirigé par deux moniteurs titulaires d'un brevet fédéral. Les résultats démontrent la volonté constante de la recherche de la qualité alliée à la promotion de ce sport.
                </p>
            </div>
        </section>
        <section class="contact">
            <div class="row d-flex justify-content-center p-0">
                <div class="col-12 col-lg-5 col-contact">
                    <h2>Nous contacter</h2>
                    <div class="contact-data">
                        <address>
                        <h4>Complexe sportif Jehan Buhan</h4>
                        <p><i class="fa-solid fa-location-dot me-2"></i>32 avenue Aristide Briand 33110 Le Bouscat</p>
                        <p><i class="fa-solid fa-envelope me-2"></i><a href="mail">usb.archers.bosquet@free.fr</a></p>
                        </address>
                    </div>
                </div>
                    
                <div class="col-12 col-lg-5 col-contact">
                    <h2>Président du club</h2>
                    <div class="contact-data">
                        <h3>Prénom Nom</h3>
                        <p><i class="fa-solid fa-phone me-2"></i>01 23 45 67 89</p>
                        <p><i class="fa-solid fa-envelope me-2"></i><a href="mail">mail</a></p>
                    </div>
                </div>

            </div>
        </section>
        <section class="localisation py-4">
            <h2 class="text-center">Nos installations</h2>
            <div class="row justify-content-center">
                <div class="col-12 col-lg-5 text-center">
                    <h3>Pas de tir intérieur</h3>
                    <h4>Complexe sportif Jehan Buhan</h4>
                    <address>
                        32 avenue Aristide Briand 33110 Le Bouscat
                    </address>
                </div>
                <div class="col-12 col-lg-5 text-center">
                    <h3>Pas de tir extérieur</h3>
                    <h4>Espace Florence Villars</h4>
                    <address>
                        rue Jean Claude Dassot 33110 Le Bouscat
                    </address>
                </div>
            </div>
            <div class="d-flex justify-content-center"> 
                <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1VR-62gXhktiwjqwrbNWGSqmnL8O4Ptc&ehbc=2E312F&noprof=1" width="640" height="480"></iframe>
            </div>
        
        </section>
</div>



{% endblock %}