{% extends 'base.html.twig' %}
{% block body %}


    <div class="container mt-5">

        <section class="mb-5 p-5 section-personnalisee rounded shadow"> 
           <h2>Mentions legales</h2>
        </section>

        <section class="p-5 section-personnalisee rounded shadow"> 
          

    <p>Raison sociale : <strong>Nom de l'entreprise</strong></p>
    <p>Siège social : <strong>Adresse du siège social</strong></p>
    <p>Téléphone : <strong>Numéro de téléphone</strong></p>
    <p>Email : <strong>Adresse email de contact</strong></p>

    <p>Directeur de la publication : <strong>Nom du directeur de la publication</strong></p>

    <p>Le site est hébergé par <strong>Nom de l'hébergeur</strong>.</p>

    <p>Ce site a été réalisé par <strong>Nom de l'agence ou du développeur</strong>.</p>

    <p>Copyright &copy; <strong>Année de création</strong> - Tous droits réservés.</p>

    <p>Numéro SIRET : <strong>Numéro SIRET de l'entreprise</strong></p>

    <p>Numéro de TVA intracommunautaire : <strong>Numéro de TVA</strong></p>

    <p>Capital social : <strong>Montant du capital social de l'entreprise</strong></p>

    <p>Conformément à la loi "Informatique et Libertés" du 6 janvier 1978, vous disposez d'un droit d'accès, de modification, de rectification et de suppression des données qui vous concernent. Pour exercer ce droit, veuillez contacter : <strong>Adresse de contact pour exercer ce droit</strong>.</p>

    <p>Consultez notre <a href="politique-de-confidentialite.html">politique de confidentialité</a> pour en savoir plus sur la collecte et le traitement de vos données personnelles.</p> 
            
        </section>

    </div>

       {% block javascripts %} 
    <!-- Scripts Bootstrap (pour ajouter les fonctionnalités JS de Bootstrap si besoin) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    {% endblock %}
{% endblock %}
