{% extends 'back/base.html.twig' %}

{% block body %}

<div class="example-wrapper">
    <h2>Hello {{ controller_name }}! ✅</h2>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ '/var/www/html/Apothéose/OTir/src/Controller/Back/MainController.php'|file_link(0) }}">src/Controller/Back/MainController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/var/www/html/Apothéose/OTir/templates/back/main/index.html.twig'|file_link(0) }}">templates/back/main/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
