{% extends 'back/base.html.twig' %}

{% block body %}

<section class="homepage-backoffice">
    <h2 class="mb-5">Bienvenue, {{ app.user.firstname }}</h2>
    <ul class="">
        <p class="fs-3">Ici, vous pouvez gérer:</p>
        <li><a href="{{ path('app_back_user_index') }}">Les Licenciés</a></li>
        <li><a href="{{ path('app_back_course_index') }}">Les Cours</a></li>
        <li><a href="{{ path('app_back_tarif_index') }}">Les Tarifs</a></li>
    </ul>
</section>

{% endblock %}