{% extends 'base.html.twig' %}
{% block body %}

<div class="container">
    <div class="d-flex justify-content-center align-items-center page-404 py-4">
        <div class="text-center">
            <h2>Erreur 404</h2>
            <img src="{{ asset('images/erreur404.png') }}" alt="Designed by slidesgo / Freepik" class="w-50">
            <h3 class="h2">
                On dirait que vous êtes perdu
            </h3>
            <p>La page demandée n'existe pas</p>
            <a href="{{ path('app_home') }}" class="btn btn-primary">Retour à l'accueil</a>
        </div>
    </div>
</div>


  {% endblock %}