{% extends 'base.html.twig' %}
{% block body %}

<div class="container">
    <div class="d-flex justify-content-center align-items-center page-403 py-4">
        <div class="text-center">
            <h2>Accès interdit !</h2>
            <img src="{{ asset('images/erreur403.png') }}" alt="Designed by slidesgo / Freepik" class="w-50">
            <p>Vous n'êtes pas autorisé à accéder à cette section.</p>
            <a href="{{ path('app_home') }}" class="btn btn-primary">Retour à l'accueil</a>
        </div>
    </div>
</div>
{% endblock %}
               