{{ form_start(formEmail, {'attr': {'class': 'w-100'}}) }}


{{ form_widget(formEmail) }}
        
        

   
    <button class="btn mt-3">{{ button_label|default('Sauvegarder') }}</button>
{{ form_end(formEmail) }}