{{ form_start(formPassword, {'attr': {'class': 'w-100'}}) }}

    {{ form_widget(formPassword) }}
     <button class="btn mt-3" id="btn-submit">{{ button_label|default('Sauvegarder') }}</button>
     
{{ form_end(formPassword) }}