<h1>Votre espace licencié a été créé !</h1>
<p>Vous pouvez y accéder avec votre email en <a href="{{url('app_login')}}">Cliquant ici</a></p>
<p>Votre mot de passe est votre numérode licence/vos initiales (exemple: 0000000A/ab). Nous vous recommandons fortement de le modifier lors de votre première connexion.</p>
<p>O'Tir</p>


