{% apply inline_css %}

    <style>
        {# here, define your CSS styles as usual #}
        .mail-body {
            background-color: #f0f;
        }
    </style>
<div class="mail-body">
	<img src="{{ email.image('@images/logo-usb.png') }}" alt="Logo club USB Tir à l'arc">
	<h1>Vous avez un message</h1>
	<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis repellendus magnam error maxime voluptates aut deleniti quis tempore, ad dolorem nulla id, veniam aliquam. Exercitationem cupiditate ipsam aliquid ducimus praesentium!</p>
	<p>USB Tir à l'arc</p>
</div>
{% endapply %}