{% apply inline_css %}

    <style>
        {# here, define your CSS styles as usual #}
        .mail-body {
			color: #344D59;
         					
		}
		.container-img{
			text-align: center;
		}
		img{
			display: block;
   			margin: 0 auto;
		}
		

		h1{
			text-align: center;
		}
        p{
            margin: 10px 25px;
        }

    </style>
    <div class="mail-body">
        <div class="container-img">
			<img src="{{ email.image('@images/logo-otir.png') }}" alt="Logo club O'tir" width="100" height="auto">
		</div>
        <h1>Vous avez un message</h1>
        <p>{{ content }}</p>
        <p>O'tir</p>
    </div>
{% endapply %}